<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FFFAST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <main>
    <header>
      <h1>Hello World</h1>
    </header>
    <section>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aliquam, maxime aperiam, enim esse dignissimos necessitatibus blanditiis, commodi voluptatibus nam saepe! Quam minima repellat, deleniti temporibus asperiores amet dolorem hic.
    </section>
  </main>
  <script src="/js/script.js"></script>
</body>
</html>
