{

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": [
    "react",
    "babel"
  ],

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "backtick"],
    "semi": ["error", "always"],
    "no-console": "off",
    "prefer-template": "error",
    "prefer-const": "error",
    "no-array-constructor": "error",
    "no-new-object": "error",
    "no-var": "error",
    "eqeqeq": ["error", "smart"],
    "camelcase": "error",
    "arrow-spacing": "error",
    "object-curly-spacing": ["off", "never"],
    "arrow-parens": ["error", "as-needed"],
    "key-spacing": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "babel/object-curly-spacing": ["error", "never"],
    "react/jsx-key": "off",
    "react/display-name": "off",
    "react/prefer-stateless-function": "error",
    "react/jsx-wrap-multilines": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-curly-spacing": "error",
    "react/jsx-equals-spacing": "error",
    "react/jsx-space-before-closing": ["error", "always"]
  }

}
