/*@import 'imports/normalize';*/
@import 'imports/reset';
@import 'imports/mixins';

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

main {
  @mixin center;
  font-size: 1.8em;
  width: 500px;
  padding-top: 30px;
}

header {
  font-weight: bold;
}
